# ============================================================================
# MongoDB Configuration File (Ansible managed)
# Minimal config for initial startup and testing
# ============================================================================

# Where to store data.
storage:
  dbPath: {{ mongodb_data_dir }}

# Where to log.
systemLog:
  destination: syslog
  logAppend: true

# Network interfaces.
net:
  bindIp: {{ mongodb_listen_address }}
  port: {{ mongodb_port }}